:root {
    --verde-principal: #166e36;
    --verde-escuro: #0e4722;
    --verde-destaque: #1ebe5d;
    --grafite: #333333;
    --fundo: #f4f7f6;
    --branco: #FFFFFF;
    --texto: #444;
    --borda: #e5e5e5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, sans-serif;
}

body {
    background-color: var(--fundo);
    color: var(--texto);
    overflow-x: hidden;
}